@model WeBind.Models.StudentBlogViewModel

<div class="parallax overflow-hidden page-section bg-blue-400">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media media-grid v-middle">
            <div class="media-left">
                <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-file-text-o"></i></span>
            </div>
            <div class="media-body">
                <h3 class="text-display-2 text-white margin-none">Blog</h3>
                @*<p class="text-white text-subhead">Ask our awesome community</p>*@
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-section">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="page-section padding-top-none">
                    <div class="s-container">
                        <h1 class="text-display-1 margin-top-none">@Model.BlogTitle</h1>
                        <p class="text-light text-caption">
                            posted by
                            <img src="@Url.Content(Model.StudentProfile.ProfilePicPath)" alt="person" class="img-circle width-20" /> <b>@Model.StudentProfile.StudentName</b>
                            &nbsp; | <i class="fa fa-clock-o fa-fw"></i>@Model.UpdationDate
                        </p>
                    </div>
                    <br />
                    @Html.Raw(Model.Blog)
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
