@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/modernizr.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/custom/main.js"></script>

<div class="parallax cover overlay height-300 height-500-lg height-320-xs">
    <img class="parallax-layer" src="~/images/photodune-4161018-group-of-students-m.jpg" alt="parallax image" />
    <div class="parallax-layer overlay overlay-full" data-opacity="true">
        <div class="v-center">
            <div class="container">
                <section class="cd-intro margin-top-none margin-bottom-none">
                    <span class="cd-headline rotate-1">
                        Interest
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Astrophysics</b>
                            <b>Engineering</b>
                        </span>
                    </span>
                    <span class="cd-headline rotate-1">
                        <span class="">Learning </span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">History </b>
                            <b>Medical</b>
                        </span>
                    </span>
                </section><br />
                <div class="overlay-bg-white display-inline-block">
                    <h1 class="text-display-1" style="margin-left: 10px !important;margin-right: 10px !important">Millions of students have a story resembling this</h1>
                    <p class="text-subhead">Join Webind’s Master-Class to learn what you REALLY want to</p>
                    <p class="margin-v-1-15"><a class="btn btn-green-500 btn-lg paper-shadow" data-hover-z="2" href="@Url.Action("Register", "Account", routeValues: null)">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="parallax cover overlay height-400 height-600-lg">
    <img class="parallax-layer" src="~/images/photodune-4161018-group-of-students-m.jpg" alt="webind Cover" />
    <div class="parallax-layer overlay overlay-full" data-opacity="true">
        <div class="v-center">
            <div class="container">
                <div class="page-section-heading" style="margin-top:150px">
                    <section class="cd-intro margin-top-none margin-bottom-none">
                        <span class="cd-headline rotate-1">
                            Interest
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Astrophysics</b>
                                <b>Engineering</b>
                            </span>
                        </span>
                        <span class="cd-headline rotate-1">
                            <span class="">Learning </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">History </b>
                                <b>Medical</b>
                            </span>
                        </span>
                    </section>
                </div><br />
                <div class="page-section overlay-bg-white relative paper-shadow padding-v-14-15" style="margin:0px 200px 0px 200px;" data-z="1">
                    <h1 class="margin-v-0-15 display-inline-block">Millions of students have a story resembling this</h1>
                    <p class="text-subhead margin-none">Join Webind’s Master-Class to learn what you REALLY want to</p>
                    <br />
                    <p><a class="btn btn-green-500 btn-lg paper-shadow" data-hover-z="2" href="@Url.Action("Register", "Account", routeValues: null)">Register</a></p>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="parallax cover overlay cover-image-full home">
        <img class="parallax-layer" src="~/images/photodune-4161018-group-of-students-m.jpg" alt="Learning Cover" />
        <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" style="height:500px" data-speed="8" data-opacity="true">

            <div class="v-center">
                <div class="page-section-heading">
                    <section class="cd-intro margin-top-none margin-bottom-none">
                        <span class="cd-headline rotate-1">
                            Interest
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Astrophysics</b>
                                <b>Engineering</b>
                            </span>
                        </span>
                        <span class="cd-headline rotate-1">
                            <span class="">Learning </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">History </b>
                                <b>Medical</b>
                            </span>
                        </span>
                    </section>
                </div><br />
                <div class="page-section overlay-bg-white-strong relative paper-shadow" data-z="1">
                    <h3 class="margin-v-0-15 display-inline-block">Millions of students have a story resembling this</h3>
                    <p class="text-subhead margin-none">Join Webind’s Master-Class to learn what you REALLY want to</p>
                    <a class="btn btn-green-500 paper-shadow" data-hover-z="2" data-animated data-toggle="modal" href="@Url.Action("Register", "Account", routeValues: null)">Register</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>*@
<div class="container">
    <div class="page-section-heading">
        <h2 class="text-display-1">How Master-Class is Bringing a Revolution Among the Students</h2>
        <p class="lead text-muted margin-bottom-none">A Master-Class  is a thoughtfully structured 45 minutes webinar that brings Masters one on one with their budding substitutes. </p>
        <p class="lead text-muted">The Master-Class is composed of</p>
    </div>
    <div class="row">
        <div class="media col-lg-12">
            <div class="col-lg-6 margin-v-10">
                <div class="media-left padding-none">
                    <div class="bg-purple-300 text-white">
                        <div class="panel-body">
                            <img src="~/images/home/Inspiration.png" class="width-30" />
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default height-110">
                        <div class="panel-body">
                            <div class="text-headline">Inspiration</div>
                            <p>Takes student’s interest in the subject to new level</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-v-10">
                <div class="media-left padding-none">
                    <div class="bg-red-400 text-white">
                        <div class="panel-body">
                            <img src="~/images/home/Information.png" class="width-30" />
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default height-110">
                        <div class="panel-body">
                            <div class="text-headline">Information</div>
                            <p>Lets them understand the dynamics of the industry right from the horse’s mouth</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-v-10">
                <div class="media-left padding-none">
                    <div class="bg-green-300 text-white">
                        <div class="panel-body">
                            <img src="~/images/home/Insight.png" class="width-30" />
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default height-110">
                        <div class="panel-body">
                            <div class="text-headline">Insight</div>
                            <p>Gives them a solid understanding of what credentials his preferred industry requires</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 margin-v-10">
                <div class="media-left padding-none">
                    <div class="bg-orange-400 text-white">
                        <div class="panel-body">
                            <img src="~/images/home/Interaction.png" class="width-30" />
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="panel panel-default height-110">
                        <div class="panel-body">
                            <div class="text-headline">Interaction</div>
                            <p>Endows them with an opportunity to validate their ideas and get their concerns addressed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-lg-12">
                <div class="panel-body">
                    <div class="form-group form-control-material">
                        <input id="forumSearch" type="text" class="form-control" placeholder="Type to search" />
                        <label for="forumSearch">Search ...</label>
                    </div>
                    <a href="#" class="btn btn-inverse paper-shadow relative" data-z="0.5" data-hover-z="1">Search</a>
                </div>
            </div>*@
    </div>
</div>
<br />

<div class="page-section bg-white">
    <div class="container">
        <div class="text-center">
            <h3 class="text-display-1">Upcoming Master Classes</h3>
            @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        </div>
        <div class="slick-basic slick-slider" data-items="4" data-items-lg="3" data-items-md="2" data-items-sm="1" data-items-xs="1">
            @foreach (var mc in (List<WeBind.Models.WebinarViewModel>)ViewData["upcomingmc"])
            {
                <div class="item">
                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                        <div class="panel-body">
                            <div class="media media-clearfix-xs">
                                <div class="media-left">
                                    <a class="" href="@Url.Action("WebinarDetails", "Home", routeValues: new { WebinarID = mc.WebinarID })">
                                        <div class="cover width-90 width-100pc-xs overlay cover-image-full hover margin-v-0-10">

                                            <img src="@Url.Content(mc.WebinarPicPath)" class="img icon-block height-90" />
                                        </div>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading margin-v-5-3 ellipsis multiple-2"><a href="@Url.Action("WebinarDetails", "Home", routeValues: new { WebinarID = mc.WebinarID })">@mc.WebinarName</a></h4>
                                    <p class="small margin-none">
                                        <i class="fa fa-calendar"></i> @mc.FromDateTime.ToString("dd/MM/yyyy")
                                    </p>
                                    @if (mc.Expert != null)
                                    {
                                    <p class="small margin-none">
                                        <i class="fa fa-user"></i> Expert <strong>@mc.Expert.FirstName @mc.Expert.LastName</strong>
                                    </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <br />
            <a class="btn btn-lg btn-primary" href="@Url.Action("EducatorUpcomingMCList", "Educator", routeValues: null )">View All</a>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="text-center">
            <h3 class="text-display-1">Our Partner Colleges</h3>
            @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        </div>
        <div class="slick-basic slick-slider" data-items="4" data-items-lg="3" data-items-md="2" data-items-sm="1" data-items-xs="1">
            @foreach (var partnerCollege in (List<WeBind.Models.CampusViewModel>)ViewData["partnerColleges"])
            {
                <div class="item">
                    <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                        <div class="panel-body">
                            <div class="media media-clearfix-xs">
                                <div class="media-left">
                                    <div class="cover width-90 width-100pc-xs">
                                        <span class="v-center">
                                            <img class="img icon-block s90" src="@Url.Content(partnerCollege.ProfilePicPath)" />
                                        </span>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading margin-v-5-3">@partnerCollege.CampusName</h4>
                                    <p class="small margin-none">
                                        @partnerCollege.DepartmentName
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <br />
            <a class="btn btn-lg btn-primary" href="@Url.Action("OurPartnerColleges", "Home", routeValues: null)">View All</a>
        </div>
    </div>
</div>

<div class="page-section bg-white">
    <div class="parallax cover overlay height-300 margin-none">
        <img class="parallax-layer" data-auto-offset="true" data-auto-size="false" src="~/images/photodune-6745579-modern-creative-man-relaxing-on-workspace-m.jpg" alt="Learning Cover" />
        <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-opacity="true" data-speed="8">
            <div class="v-center">
                <div class="page-section">
                    <h1 class="text-display-2 overlay-bg-white margin-v-0-15 inline-block">Feedback</h1>
                    <br />
                    <p class="lead text-overlay overlay-bg-white-strong inline-block">Here is what our college community says about us</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-section">
            <div class="row">
                @foreach (var feedback in (List<WeBind.Models.WebinarFeedBackViewModel>)ViewData["feedbacks"])
                {
                    <div class="col-md-4">
                        <div class="testimonial">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="ellipsis multiple-3">@feedback.FeedBack</p>
                                </div>
                            </div>
                            <div class="media v-middle">
                                <div class="media-left">
                                    <img src="@Url.Content(feedback.ProfilePicPath)" alt="People" class="img-circle width-40" />
                                </div>
                                <div class="media-body">
                                    <p class="text-subhead margin-v-5-0">
                                        <strong>@feedback.CampusName</strong>
                                    </p>
                                    <p class="small">
                                        @feedback.DepartmentName
                                    </p>
                                    <p class="small margin-none">
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                        <span class="fa fa-fw fa-star text-yellow-800"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="text-center">
            <h3 class="text-display-1">Video Tutorial</h3>
            @*<p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
        </div>
        <div class="panel-default paper-shadow bg-white" data-z="0.5">
            <div class="col-lg-12">
                <div class="col-lg-6 text-center">
                    <div class="text-center">
                        <h3 class="margin-top-none">How to Register for Master-Class</h3>
                    </div>
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/KXWkmv557KA?rel=0"></iframe>
                            @*<img class="col-lg-11" src="~/images/howitworks1.png" alt="parallax image" />*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="text-center">
                        <h3 class="margin-top-none">How to Join a WeBind session</h3>
                    </div>
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/tPtbVwcbrNI?rel=0"></iframe>
                            @*<img class="col-lg-11" src="~/images/howitworks1.png" alt="parallax image" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>